/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(195, 100%, 30%);
  --gradient-color: linear-gradient(90deg,
                    hsl(210, 55%, 20%),
                    hsl(192, 62%, 25%));
  --title-color: #18334e;
  --text-color: hsl(210, 24%, 15%);
  --white-color: #fff;
  --body-color: hsl(210, 55%, 85%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Lora", serif;
  --biggest-font-size: 2.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  body, input{
  
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(198, 220, 240);
  
  }

  html{
      scroll-behavior: smooth;
  }

/*========== Header y Nav ============*/

 .header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color) ;
 }


.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav__logo,
.nav__open,
.nav__close{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo{
  
  column-gap: .5rem;

}

#logo{
  width: 25px;
}
  
.nav__close,
.nav__open{
  background-color: #ffffff33;;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
 cursor: pointer;
  color: var(--text-color);
}

.nav__open{
  
  margin-right: 1.5rem;
}

  a{
      text-decoration: none;
      color:#0c335c;
      
      
  }



  /*====navigation for mobile devices*/
  @media screen and (max-width:1023px){
    .nav__menu{
      position: fixed;
      top: 0;
      right: -100%;
      background-color: var(--body-color);
      width: 80%;
      height: 100%;
      box-shadow: 0 0 16px hsla(268, 58%, 4%, .2);
      padding: 6rem  3rem;
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      transition: right .4s;
      

    }
    
  }
 
  .nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    list-style: none;
    
  }

  .nav__link{
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
    
  }

  .nav__link:hover{
    color: var(--first-color);
    
  }

  .nav__close{
    position: absolute;
    top: .75rem;
    right: 1.5rem;
  }

  .show-menu{
    right: 0;
  }

  

/*====HOME=====*/

.home{
  
  height: 100vh;

}
 
.home__container{
  padding-top: 7rem;
  display: grid;
  row-gap: 3rem;
}
  
.home__content{
  text-align: center;
  padding-top: 5rem;
}

.home__subtitle{
  font-size: 1.2rem;
  color: var(--first-color);
  
}


.home__title{
  
  width: max-content;
  margin: 0 auto .75rem;
  font-size: var(--biggest-font-size);
  color: var(--title-color);
}
  

 .home__images{
  
  display: flex;
  justify-content: center;
  
  height: 250px;
 }

 

 .home__cohete{
  
  width: 220px;
  
  
 }



@media screen and (max-width:300px){
  .container{
    margin-inline: 1rem;

  }
}

.home__title{
  font-size: 1.75rem;
}


@media screen and (min-width:376px) and (min-width:800px){
  .home__container{
    padding-top: 10rem;
  }
}















